body {
    margin: 60px;
}

#comments {
    .comment {
        margin-top: 1em;
    }
    .content {
        margin-left: 1em;
    }
}

#right-menu {
    padding: 10px 0;
    a {
        padding-left: 25px;
    }
}